
/*fuente*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

/*Agregando css a la hoja de estilo html*/
/* estilos Globales*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif; /*fuente texto*/
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth; /*cambio transicion*/
}




.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    



body {
    overflow-x: hidden; /*corta el contenido para que no sobresalga de un contenedor*/
}

section {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none; /*decoracion (linea sobre el texto no incluir*/
}

p {
    font-size: 1.6rem; /*tamaño texto*/
}




.nav-list {
    list-style: none; /*sin los puntitos*/
    position: fixed; /*posicion fija*/
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #252525;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    
   
}





/*Hero*/


.hero {
    width: 100%;
    height: 70vh;
    background: url("../images/princip.jpg") center no-repeat; /*no se repita imagen*/
    background-size: cover; /*preserva su proporcion propia*/
    display: flex;  /*contenedor flexible*/
    align-items: center;
    text-align: center;
    
}

    

.h2-sub {
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #6D123D;
    font-weight: 600;
    line-height: .4;
}

.fil {
    text-transform: uppercase;
    font-size: 3rem;
}

.head {
    color: #6D123D;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}

.circle {
    font-size: 1.5rem;
    color: #8A0E49;
    margin: 0 1.6rem;
}

.he-des h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}



.global {
    text-align: center;
    margin-top: 3.9rem;
}

.dis-sto .global {
    margin-top: 6.9rem;
}

.global .circle {
    color: #8A0E49;
    margin: 2.4rem 0;
}

.hea-dark {
    color: #252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

.global .h2-sub {
    letter-spacing: -1px;
    line-height: .42;
}

.res-info {
    text-align: center;
}

.res-des {
    margin-bottom: 3rem;
}

.res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem
}


/*menu*/

.que-rico {
    background: url("../images/pasteles.jpg") center no-repeat;
    background-size: cover;  /*preserva su proporción propia*/
    margin-top: 20px;
}

.bt {
    min-height: 65vh; /*altura minim q debe tener*/
    display: flex;
    align-items: center;
}


/*platillos*/
/*grid en index*/
.image-group {
    display: grid; /*cuadrícula de una sola columna(uno debajo de otro)*/
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    
}




.disco .res-des {
    padding-top: 3rem;
    margin-bottom: 0;
}

.pb {
    background: url("../images/princip.jpg") center no-repeat;
    background-size: cover;
}



.news-form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

}

.news-input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}
.news-btn {
    background: transparent;
    border: none;
    color: #252525;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 30%;
    margin-left: 20.5rem;
}

@media screen and (min-width: 900px) {

    section {
        padding: 7.9rem;
    }

    .menu-toggle {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item {
        margin: 0 2.4rem;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

   

    .active {
        position: relative;
    }
    .active::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }

    .h2-sub {
        font-size: 3rem;
    }

    .fil {
        font-size: 3rem;
    }
    .head {
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }

    .res-info {
        display: flex;
        align-items: center;
    }

    .res-info > div {
        flex: 1;
    }

    .pad-rig {
       /* padding-right: 0.50rem;*/
        box-shadow: 1px 10px 15px rgba(0,0,0,0.80);
        width: 100%;
        height: 100%;
        transition:  all 500ms ease;

    }

    .pad-rig:hover{
        transform: scale(1.2);
    }

    
}
 /*se aplico flex con grid en el index*/
.fotos-tam {
    display: flex;
    grid-template-columns: repeat (1. 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
    width: 100%;
}



.foto {
    height: 100px;
    width: 100px;
}


.cocina-foto{
    width: 100%;
    display: flex;

}

/*--------------------------------------------------------------------------------------*/
/*contacto*/
/*Agregando css a la hoja de estilo html*/
/*metodo grid*/
#fondogal{
    background-image: url(/images/contacto.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: grid;
    padding-bottom: 3em;
    
    

}

#editcontacto{
    width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    margin-bottom: 50px;

}

#cont{
    color:#fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input,textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}



#boton:hover {
    cursor:pointer;
}

@media (max-width:480px) {
    form{
        width: 100%;
    }
}
/*-----------------------------------------------*/

/*tienda*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.card{
 
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  background-color: #f1e8e5;
}

.dentro-card{
   width: 600px;
   height: 500px;
   background:url(/images/tienda.jpg) center no-repeat  ;
   cursor: pointer;
   margin-top: 130px;
   margin-bottom: 100px;
   background-size: cover;
   padding: 20px;


}

.contenido,.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
   
  
 } 

 .contenido{
    font-size: 60px;
   
 }

 .menu{
    flex-wrap: wrap;
    flex-direction: column;
 
    
 }

 .contenido, .menu h3{
    font-size: 30px;
 }

 .contenido,.menu a{
    text-decoration: none;
    padding: 15px;
    margin-bottom: 5px;
    color: black;
    
 }

 .menu a:hover{
    text-decoration: line-through;
 }


.menu{
    transform: translatey(-220%);
    transition: all 0.5s;
}

.menu{
    overflow: hidden;
}

.dentro-card:hover .menu{
    transform:translatey(0);
}

/*------------------------------------------------------------*/

/*sobre nosotros*/
/*codigo para el grid*/

.sobre-nos{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #f1e8e5;
  
  box-sizing: content-box;
}

.nosotros-nos{
    margin-top: 130px;
    margin-bottom: 100px;
    background-size: cover;
    padding: 20px;
    width: 600px;
    height: 500px;
}



.centrar-nos{
    text-align: center;

}

.imagen-nos{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*----------------------------------------------------------*/
/*Galeria*/
/*en galeria se utilizo grid*/

.grid-item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    place-content: center;
    margin-top: 100px;

}

@media (min-width: 600px){
.wide{
    grid-column: span 2;
}

.tall {
    grid-row: span 3;
}

}