footer {
    
    padding: 7.9rem 0;
    background-color: black;
    color: #fff;
    text-align: center;
    
    
  

    .footer-content {
        max-width: 77.5rem;
        margin: map-get($margenes,margin1);
       
        
        
    }
    
    .footer-content ul li{
        display: inline-block;
    }



    .social-icons{
        
      
        margin: map-get($margenes,margin2);
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        color: #fff;
        
    }

  

}