
/*utilizado en la galeria de fotos -> galeria.html. la variable se encuentra en etilo.css columna 583*/
$ancho: (

    cien: 100%

    
);

/*utilizado  en _header.scss*/
$posicion: (

    posab: absolute,

    posfix: fixed

   
);

$margenes: (

    /* utilizado en_footer.scss*/
    margin1: auto,

    margin2: 0 5px

);